<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :send_user_id,:value => current_user.id,readonly:true,hidden:true%>
  <%= form.text_field :user_name,:value => current_user.username,readonly:true,hidden:true%>
  <%= form.text_field :message_time,:value => DateTime.now ,readonly:true,hidden:true %>

  <div class="field">
    <%= form.label :receive_user_id %>
    <%= form.number_field :receive_user_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
