<%= render 'head', tweet: @tweet %>
<%= link_to 'New Message', new_message_path %>
<div class="m-3">
  <h5>List</h5>
</div>
<div>
  <% @messages.each do |message| %>
      <p><%= message.send_user_name %> &nbsp; → &nbsp; <%= message.receive_user_name %></p>
      <p><%= message.message_time %></p>
      <p><%= message.content %> &nbsp; <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
</div>
