<%= render 'head', tweet: @tweet %>
<%= link_to 'New Message', new_message_path %>
<div class="m-3">
  <% @messages.reverse_each do |message| %>
    <% if message.send_user_id == current_user.id %>
      <p>To &nbsp; <%= message.receive_user_name %></p>
    <% elsif message.receive_user_id == current_user.id %>
      <p>From &nbsp; <%= message.send_user_name %></p>
    <% end %>
    <p><%= message.message_time %></p>
    <p><%= message.content %></p>
  <% end %>
</div>
