<%= render 'head', tweet: @tweet %>
<div class="m-3">
  <h5>Your Profile</h5>
</div>
<div>
  <p>
    <strong>Send user name:</strong>
    <%= @message.send_user_name %>
  </p>
  <p>
    <strong>Receive user name:</strong>
    <%= @message.receive_user_name %>
  </p>
  <p>
    <strong>Message time:</strong>
    <%= @message.message_time %>
  </p>
  <p>
    <strong>Content:</strong>
    <%= @message.content %>
  </p>
</div>
