<%= form_with(model: note, local: true) do |form| %>

  <div class="field">
    <h5><%= form.label :subject %></h5>
    <p><%= form.text_field :subject %></p>
  </div>

  <div class="field">
    <h5><%= form.label :body %></h5>
    <p><%= form.text_field :body %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
