<h1>Notes</h1>
  <% @notes.each do |note| %>
    <tr>
      <td><%= note.subject %></td>
      <td><%= note.body %></td>
      <td><%= link_to 'Show', note %></td>
      <td><%= link_to 'Edit', edit_note_path(note) %></td>
      <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

<%= link_to 'New Note', new_note_path %>
