<%= render 'head', tweet: @tweet %>
<h5>Your Follow</h5>

<table class="table table-sm table-bordered">
  <tbody>
    <% @relations_follow.each do |relation| %>
      <tr>
        <td><%= relation.follower_id %></td>
        <td><%= relation.follower_name %></td>
        <td><%= link_to 'Destroy', relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h5>Your Follower</h5>

<table class="table table-sm table-bordered">
  <tbody>
    <% @relations_follower.each do |relation| %>
      <tr>
        <td><%= relation.follow_id %></td>
        <td><%= relation.follow_name %></td>
        <td><%= link_to 'Destroy', relation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
