<%= render 'head', tweet: @tweet %>
<p><%= link_to 'New Tweet', new_tweet_path %></p>
<h5>Your Tweets</h5>
<div>
  <% @tweets.each do |tweet| %>
    <div>
      <div class="font-weight-bold">
        <p><%= tweet.user_name  %> &nbsp; <span class="text-muted"><%= tweet.tweet_time %> &nbsp; ☆<%= @favo_all.where(tweet_id: tweet.id).length %></span></p>
      </div>
      <div>
      <p><%= tweet.content %> &nbsp; <%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <div>
    </div>
  <% end %>
  <br>
</div>
