<%= render 'head', tweet: @tweet %>
<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @tweet.user_name %>
</p>

<p>
  <strong>time:</strong>
  <%= @tweet.tweet_time %>
</p>

<p>
  <strong>content:</strong>
  <%= @tweet.content %>
</p>

<%= link_to 'Back', tweets_path %>
