<p id="notice"><%= notice %></p>
<%= render 'head', favos: @favos %>

<table class="table table-sm table-bordered">
  <tbody>
    <% @favos.reverse_each do |favo| %>
      <tr>
          <% if @tweets.exists?(id: favo.tweet_id) %>
            <td><%= @tweets.find_by(id: favo.tweet_id).user_name %></td>
            <td><%= @tweets.find_by(id: favo.tweet_id).tweet_time %></td>
          <% elsif %>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          <% end %>
        <td><%= link_to 'Destroy', favo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
