<p id="notice"><%= notice %></p>
<article>
  <div class="m-3 border-bottom">
    <h1>Time Line</h1>
  </div>
  <p><%= link_to 'New Tweet', new_tweet_path %></p>
  <div>
    <% @tweets.reverse_each do |tweet| %>
      <div>
        <div class="font-weight-bold">
          <p><%= tweet.user_name  %> &nbsp; <span class="text-muted"><%= tweet.tweet_time %> &nbsp; ♡<%= @favo_all.where(tweet_id: tweet.id).length %></span></p>
        </div>
        <div>
          <p><%= tweet.content %></p>
        </div>
      </div>
      <% if ! @user_favos.exists?(tweet_id: tweet.id) %>
        <%= form_with(model: @favo_new, local: true) do |form| %>
          <%= form.number_field :user_id,:value => current_user.id,readonly:true,hidden:true%>
          <%= form.number_field :tweet_id,:value => tweet.id,readonly:true,hidden:true%>
          <%= form.submit %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</article>
