<article>
  <div class="m-3 border-bottom">
    <h1>Time Line</h1>
  </div>
  <p id="notice"><%= notice %></p>
  <h5>Follows Tweets</h5>
  <div>
    <% @tweets.each do |tweet| %>
      <div>
        <div class="font-weight-bold">
          <p><%= tweet.user_name  %> &nbsp; <span class="text-muted"><%= tweet.tweet_time %></span></p>
        </div>
        <div>
        <p><%= tweet.content %>
      </div>
        <%= form_with(model: @favo_new, local: true) do |form| %>
          <%= form.number_field :user_id,:value => current_user.id,readonly:true,hidden:true%>
          <%= form.number_field :tweet_id,:value => tweet.id,readonly:true,hidden:true%>
          <div class="actions">
            <%= form.submit %>
          </div>
        <% end %>
      <% end %>
    <br>
  </div>
</article>
