<article>
  <div class="m-3 border-bottom">
    <h1>Not Follow Users</h1>
  </div>
  <div>
  <div class="m-3">
    <div class="m-3">
      <h5>name</h5>
    </div>
  </div>
    <% @not_follow_users.each do |user| %>
      <p><%= user.username %></a></p>
      <%= form_with(model: @relation, local: true) do |form| %>
        <%= form.text_field :follow_id,:value => current_user.id,readonly:true,hidden:true%>
        <%= form.text_field :follow_name,:value => current_user.username,readonly:true,hidden:true%>
        <%= form.text_field :follower_id,:value => user.id,readonly:true,hidden:true%>
        <%= form.text_field :follower_name,:value => user.username,readonly:true,hidden:true%>
        <div class="actions">
          <%= form.submit %>
        </div>
      <% end %>
    <% end %>
  </div>
</article>
