<!DOCTYPE html>
<html>
  <head>
    <title>Source</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="text-center mt-5">
      <%= yield %>
      <!-- ログアウトのリンク -->
      <div class="session-control-box">
        <% if signed_in? %>
          <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
      <!-- エラーメッセージタグのviewへの追加 -->
      <div class="notice">
        <%= notice %>
      </div>
      <div class="alert">
        <%= alert %>
      </div>
    </section>
  </body>
</html>
